body {
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  height: 100vh;
  position: relative;
}

.home {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.navLink {
  color: rgb(168, 145, 168);
  font-size: 18px;
  text-decoration: none !important;
  margin-right: 10px;
  padding: 5px;
}

.navLink:hover {
  border: 1px solid rgb(39, 39, 39);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
  font-weight: bold;
  color: rgb(121, 100, 121) !important;
  padding: 5px;
}

* {
  font-family: calibri;
}

.myName:hover {
  border-bottom: 2px solid rgb(39, 39, 39);
  color: rgb(121, 100, 121) !important;
}

.myName a {
  text-decoration: none;
  font-weight: bolder;
}

.myName h1 {
  margin-bottom: 0px !important;
  text-shadow: 2px 2px 2px rgb(31, 31, 31);
}

.emailSend {
  border-color: rgb(121, 100, 121);
  color: rgb(121, 100, 121);
  font-weight: bold;
}

.emailSend:hover {
  background-color: rgb(121, 100, 121);
  border-color: rgb(121, 100, 121);
  color: white;
}

.portfolioPic:hover {
  box-shadow: 3px 5px 16px black !important;
  opacity: 0.8;
  border-color: rgb(180, 118, 180) !important;
  cursor: pointer;
}

.arrow:hover {
  color: purple !important;
}

@media (max-width: 991px) {
  .divider {
    display: none !important;
  }

  .navLink {
    margin: 10px 0px 10px 0px;
    padding-left: 10px !important;
  }

  .infoBoxContainer {
    display: flex !important;
    justify-content: center !important;
  }

  .emailForm {
    display: none !important;
  }

  .portfolioPic {
    width: 110px !important;
    height: 110px !important;
  }

  .AboutMeText {
    width: 275px !important;
  }

  .AboutMeText {
    width: 300px !important;
  }
}

@media (max-width: 400px) {
  .myLangy {
    font-size: 10px !important;
  }
}

.infoBox:hover {
  box-shadow: 4px 8px 16px gray !important;
}

.AboutMeText:hover {
  box-shadow: 5px 8px 16px gray !important;
}

.home {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(155, 155, 155)) !important;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155)) !important;
}

.home:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(110, 110, 110)) !important;
  filter: drop-shadow(5px 5px 5px rgb(107, 107, 107)) !important;
}

.langs img {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(110, 110, 110)) !important;
  filter: drop-shadow(5px 5px 5px rgb(107, 107, 107)) !important;
}

.portProj:hover {
  box-shadow: 4px 8px 16px gray !important;
  background-color: transparent !important;
}

.langs img:hover {
  -webkit-filter: drop-shadow(8px 8px 8px rgb(75, 75, 75)) !important;
  filter: drop-shadow(8px 8px 8px rgb(75, 75, 75)) !important;
}
